.container{
    display:flex;
    flex-direction: column;
    margin:auto;
    margin-top:100px;
    width:600px;
    /*background:#000000b0;*/
    background:url("https://img.freepik.com/free-photo/abstract-digital-grid-black-background_53876-97647.jpg?w=996&t=st=1703261908~exp=1703262508~hmac=78c353cd825f9e5ca62d7a16f919f234977f0e46f6c19fd43da9e95f4cba326f") no-repeat fixed;
    background-size: cover;
    padding-bottom:30px;
    border-radius:15px;
    /*border: 2px solid black;*/
}
.header{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:9px;
    width:100%;
    margin-top:30px;
}
.text{
    color: #4c00b4;
    font-size:48px;
    font-weight: 700;
}
.underline{
    width: 61px;
    height:6px;
    border-radius:9px;
    background: #4c00b4;
}
.inputs{
    margin-top:55px;
    display:flex;
    flex-direction:column;
    gap:25px;
}
.input{
    display:flex;
    align-items:center;
    margin:auto;
    width: 480px;
    height:80px;
    background:#eaeaea;
    border-radius:6px;
}
.input img{
    margin: 0px 30px;
}
.input input{
    height:50px;
    width:400px;
    background:transparent;
    border:none;
    outline:none;
    color:#797979;
    font-size: 19px;
}
.forgot-password{
    padding-left: 62px;
    margin-top:27px;
    color:#797979;
    font-size:18px;
}
.forgot-password span{
    color:#4c00b4;
    cursor:pointer;
}
.submit-container{
    display:flex;
    gap:30px;
    margin:60px auto;
}
.submit{
    display:flex;
    justify-content:center;
    align-items:center;
    width:220px;
    height:59px;
    color:#fff;
    background:#4c00b4;
    border-radius:50px;
    font-size:19px;
    font-weight:700;
    cursor:pointer;
}
.gray{
    background:#EAEAEA;
    color:#676767;
}